#table-design {
    width: 100%;
    border-radius: 1px;
}
#table-design td, #table-design th {
    padding: 3px;
    color: #333;
}
#table-design thead {
    font-family: "Helvetica Neue", "Lucida Grande", sans-serif;
    padding: .2em .2em .2em .2em;
    text-align: center;
}
#table-design th {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 15px;
    font-style: normal ;
    font-weight: bold;
    text-align: center;
    min-height: 40px;
}
#table-design td {
    line-height: 1;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 11px;
    text-align: center;
}
#table-design table{
    border-spacing: 10px 5px;
}





