@(model: models.phonebook.PhoneBookModel)

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>


<div class="form-actions">
    <div class="pull-right">
    <a href="#" role="button" id="print-html" class="btn btn-primary">Print</a>
    <script type="text/javascript">


        $('#print-html').click( function () {
            $.ajax({
                type: "POST",
                url: "@controllers.phonebook.routes.PhoneBookController.phoneBookPrintHtmlPage",
                data: $(document.getElementById('phonebook-table')),
                dataType: "html",
                success: function(data) {
                    var win = window.open()
                    win.document.write(data);
                    win.print();
                },
                error: function(errorMessage) {
                    alert("ERROR: Unable to print.");
                }
            });
        });
    </script>
    </div>
</div>

<div class="box-content">
    <table class="table table-striped table-bordered" id="phonebook-table">
        <thead>
        <tr>
            <th>First name</th>
            <th>Second name</th>
            <th>Street</th>
            <th>Phone number</th>
        </tr>
        </thead>
        <tbody>
        @for(phoneBookItem <- model.items){
        <tr>
            <td>@phoneBookItem.firstName</td>
            <td>@phoneBookItem.secondName</td>
            <td>@phoneBookItem.street</td>
            <td>@phoneBookItem.phoneNumber</td>
        </tr>
        }
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>
<div class="form-actions">
    <a href="@controllers.phonebook.routes.PhoneBookController.showPhoneBookItemCreatePage" class="btn btn-primary">Create new item</a>
</div>