@(model: models.phonebook.PhoneBookItemCreateModel)

@import helper._

<div class="box-content">
    @helper.form(action = controllers.phonebook.routes.PhoneBookController.create) {
    <div class="form-wrapper clearfix">
        <fieldset class="g12 go pb_s">

            <div class="g9 go">
                <div class="fm_field g10 go pb_0">
                    @inputText(
                    model.form("id"),
                    '_label                 -> "Id",
                    '_error                 -> model.form.globalError,
                    '_labelContainerClass   -> "g2",
                    '_elementContainerClass -> "g4",
                    '_showConstraints       -> false,
                    '_required              -> true

                    )
                </div>
            </div>

            <div class="fm_field g5 go pb_0" >
                <div class="fm_field g10 go pb_0">
                    @inputText(
                    model.form("firstName"),
                    '_label                 -> "First name",
                    '_error                 -> model.form.globalError,
                    '_labelContainerClass   -> "g2",
                    '_elementContainerClass -> "g4",
                    '_showConstraints       -> false,
                    '_required              -> true

                    )
                </div>

                <div class="fm_field g2 go" >
                    @inputText(
                    model.form("secondName"),
                    '_label                 -> "Second name",
                    '_error                 -> model.form.globalError,
                    '_labelContainerClass   -> "g2",
                    '_elementContainerClass -> "g2",
                    '_required              -> true,
                    '_showConstraints       -> false
                    )
                </div>
                <div class="fm_field g10 go pb_0">
                    @inputText(
                    model.form("street"),
                    '_label                 -> "Street",
                    '_error                 -> model.form.globalError,
                    '_labelContainerClass   -> "g2",
                    '_elementContainerClass -> "g4",
                    '_showConstraints       -> false,
                    '_required              -> true

                    )
                </div>
                <div class="fm_field g10 go pb_0">
                    @inputText(
                    model.form("phoneNumber"),
                    '_label                 -> "Phone number",
                    '_error                 -> model.form.globalError,
                    '_labelContainerClass   -> "g2",
                    '_elementContainerClass -> "g4",
                    '_showConstraints       -> false,
                    '_required              -> true

                    )
                </div>
            </div>
        </fieldset>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Create new phonebook item</button>
        <a href="@controllers.phonebook.routes.PhoneBookController.showPhoneBook" class="btn">Cancel</a>
    </div>
    }
</div>